{% extends 'store/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        商品
    {% endif %}
{% endblock title %}

{% block content %}
    {% comment %} <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %} class="selected" {% endif %}>
                <a href="{% url 'onlinestore:product_list' %}">全部</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div> {% endcomment %}

    
        
   

    {% comment %} {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}" class="card-img-top" alt="" />
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{ product.name }}</h5>
                    <h5 class="text-dark mb-0">NT$ {{ product.price|floatformat:"0" }}</h5>
                </div>
        </div>
    {% endfor %}   {% endcomment %}


    {% for product in products %}
            <div class="item">
                <div class="product-name">
                    <a href="{{ product.get_absolute_url }}">
                        <img class="rounded-3" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}">
                    </a>
                </div>
                <div class="product-price-aria">
                    <div class="product-words-wrapper">
                        <a href="{{ product.get_absolute_url }}">
                            <span class="product-word">
                                {{ product.name }}
                            </span>
                            <span class="price-area">
                                <span class="text-center"></span>
                                <span class="cash-symbol">NT$</span>
                                <span class="cash-num">
                                    {{ product.price|floatformat:"0" }}
                                </span>
                            </span>    
                        </a>
                    </div>
                </div>
            </div>
    {% endfor %}
    
{% endblock content %}

