{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            禾享蔬食
        </title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        {% include 'store/header.html' %}
        
        {% comment %} <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length%}
                {% if total_items > 0 %}
                    您的購物車有：
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items}} 商品 {{ total_items|pluralize }},
                        NT$ {{ cart.get_total_price}}
                    </a>
                {% else %}
                    
                {% endif %}
                {% endwith %}
            </div>
        </div> {% endcomment %}

        <div class="container py-3">
            <div class="row">
                <div>
                    <img class="rounded-3" src="{% static 'img/hsveg_hero.jpg' %}">
                </div>
            </div>
        </div>
        
        <div class="container py-5">
            <div class="row">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        
        {% include 'store/footer.html' %}
    </body>
</html>